
body { 
    font-family: 'Varela Round', sans-serif;
    color: #03120e;
}

.dark-green-bg,.bg-dark-green {
    background-color: #677f70;
}

.light-green-bg,.bg-light-green {
    background-color: #a3ccb4;
}

.bg-light-blue {
    background-color: #b4cded;
}

.select-arrow {
    position: relative;
    top: 338px;
    bottom: 0;
    transform: scale(3,5);
}

.arrow-left {
    left: 0px;
}

.arrow-right {
    right: 0px;
}

.pyramid {
    min-width: 40em;
}