
body { 
    font-family: 'Varela Round', sans-serif;
    color: #03120e;
}

.sector-view {
    /* background-color: rgba(103,127,112,0.1); */
    background-image: linear-gradient(rgba(163, 204, 180, 0.4), rgba(163,204,180,0.5), rgba(163,204,180,0.7)), url('/static/img/wallpaper.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.dark-green-bg,.bg-dark-green {
    background-color: #677f70;
}

.light-green-bg,.bg-light-green {
    background-color: #a3ccb4;
}

.bg-light-blue {
    background-color: #b4cded;
}

.select-arrow {
    top: 25px;
    width: 100px;
    height: 100px;
}

.pyramid {
    margin: auto;
    min-width: 50em;
}

@keyframes gradient {
    0% {
		background-position: 0% 0%;
	}
    100% {
        background-position: 100% 0%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.organism-point-readout {
    font-weight: bold;
    display: block;
    margin-left: 90px;
    margin-top: -138px;
}

.organism-point-meter {
    background: linear-gradient(-10deg, #a3ccb4, #338051);
    animation: gradient 3s ease infinite alternate;
    background-size: 1000% 400%;
    border: solid 4px #03120e;
    width: min-content;
    white-space: nowrap;
    border-radius: 60px;
    margin: auto;
}

.organism-point-icon {
    position: relative;
    margin-top: -12px;
    width: 80px;
    height: 80px;
    stroke-width: 10px;
}

.icon-arrows {
    transform-origin: 43.7% 43.7%;
    animation: spin 1s infinite;
}

.icon-plant {
    transform: translateY(-70px);
}

.detail-inner {
    border: solid 2px #03120e;
    border-radius: 20px;
}

.sidebar {
    border-right: solid 2px #03120e;
    border-left: solid 2px #03120e;
}

.menu-logo {
    border-bottom: solid 2px #03120e;
    background-color: #677f70;
}

.menu-logo-o {
    fill: #03120e;
    position: relative;
    width: 27px;
    height: 27px;
    top: 10.5px;
    right: 19px;
    margin: auto;
}

.invis-text {
    color: #677f70;
}

.menu-logo-text {
    user-select: none;
    margin-top: -30px;
}

.menu-select {
    border-bottom: solid 2px #03120e;
    background-color: #677f70;
    font-weight: normal;
    transition: 0.25s;
    user-select: none;
    cursor: pointer;
}

.menu-select:hover {
    background-color: #338051;
}

.icon {
    margin: auto;
    width: 75px;
    height: 90%;
    vertical-align: middle;
}

.icon-outer {
    border-radius: 75px;
    border: 4px solid black;
}