@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    font-family: 'Varela Round', sans-serif;
    color: #03120e;
    background-color: #a3ccb4;
}

.main {
    height: 100vh;
}

.sector-view {
    /* background-color: rgba(103,127,112,0.1); */
    background-image: linear-gradient(rgba(163, 204, 180, 0.4), rgba(163,204,180,0.5), rgba(163,204,180,0.7)), url('../img/wallpaper.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.dark-green-bg,.bg-dark-green {
    background-color: #677f70;
}

.light-green-bg,.bg-light-green {
    background-color: #a3ccb4;
}

.bg-light-blue {
    background-color: #b4cded;
}

.bg-light-blue-darken-hover {
    background-color: #b4cded;
    transition: 0.3s;
}
.bg-light-blue-darken-hover:hover {
    background-color: #267ced;
}

.select-arrow {
    direction: ltr;
    padding-top: 25px;
    width: 100px;
    height: 100px;
    user-select: none;
    cursor: pointer;
    z-index: 10;
    transition: 0.25s;
}

 .arrow-left:hover > .inner-arrow-left {
     animation: slide-left 0.25s infinite alternate ease-out;
}
 .arrow-right:hover > .inner-arrow-right {
     animation: slide-right 0.25s infinite alternate ease-out;
}

.pyramid {
    margin: auto;
    min-width: 50em;
}

@keyframes slide-left {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(10px);
    }
}

@keyframes gradient {
    0% {
		background-position: 0% 0%;
	}
    100% {
        background-position: 100% 0%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20%, 100% {
        transform: rotate(180deg);
    }
}

.organism-point-readout {
    font-weight: bold;
    display: block;
    margin-left: 90px;
    margin-top: -138px;
}

.organism-point-meter {
    background: linear-gradient(-10deg, #a3ccb4, #338051);
    animation: gradient 3s ease infinite alternate;
    background-size: 1000% 400%;
    border: solid 4px #03120e;
    width: min-content;
    white-space: nowrap;
    border-radius: 60px;
    margin: auto;
}

.organism-point-icon {
    position: relative;
    margin-top: -12px;
    width: 80px;
    height: 80px;
    stroke-width: 10px;
}

.icon-arrows {
    transform-origin: 43.7% 43.7%;
    animation: spin 5s infinite;
}

.icon-plant {
    transform: translateY(-70px);
}

.detail-inner {
    border: solid 2px #03120e;
    border-radius: 20px;
}

.sidebar {
    border-right: solid 2px #03120e;
    border-left: solid 2px #03120e;
}

.menu-logo {
    border-bottom: solid 2px #03120e;
    background-color: #677f70;
}

.menu-logo-o {
    fill: #03120e;
    position: relative;
    width: 27px;
    height: 27px;
    top: 10.5px;
    right: 19px;
    margin: auto;
}

.invis-text {
    color: #677f70;
}

.menu-logo-text {
    user-select: none;
    margin-top: -30px;
}

.menu-select {
    border-bottom: solid 2px #03120e;
    background-color: #677f70;
    font-weight: normal;
    transition: 0.25s;
    user-select: none;
    cursor: pointer;
}

.menu-select:hover {
    background-color: #338051;
}

.icon {
    margin: auto;
    width: 75px;
    height: 90%;
    user-select: none;
}

.icon-outer {
    border-radius: 75px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: -3.5em;
    top: 50%;
    margin-top: -4em;
    z-index: 500;
}

.icon-progress {
    position: absolute;
    margin: auto;
    left: 50%;
    margin-left: -4em;
    z-index: 50;
}

.progress-wrapper {
    position: relative;
    width: 8rem;
    height: 8rem;
    background-color: #677f70;
    border-radius: 70px;
    animation-duration: 5s;
}

.progress {
    width: 50%;
    height: 100%;
    position: absolute;
    background: #14d25d;
}

.spinner {
    border-radius: 4rem 0 0 4rem;
    z-index: 200;
    border-right: none;
    animation: rota linear infinite;
    animation-duration: inherit;
    transform-origin: 100% 50%;
}

.filler {
    border-radius: 0 4rem 4rem 0;
    z-index: 100;
    animation: fill steps(1, end) infinite;
    animation-duration: inherit;
    left: 50%;
    opacity: 0;
}

.progress-mask {
    border-radius: 4rem 0 0 4rem;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 300;
    opacity: 1;
    background: inherit;
    animation: mask steps(1, end) infinite, wobble infinite;
    animation-duration: inherit;
}

@keyframes rota {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fill {
    0% { opacity: 0; }
    50%, 100% { opacity: 1; }
}

@keyframes mask {
    0% { opacity: 1; }
    50%, 100% { opacity: 0; }
}

@keyframes wobble {
    0% {
        border-radius: 3.9rem 0 0 3.9rem;
    }
    100% {
        border-radius: 4rem 0 0 4rem;
    }
}